h1, h2, h3, h5, p{
  color: black
}

.name-tag{
  font-size: medium;
}

.product-name{
  padding: 4px;
  margin: 10px;
  font-size: large;
}

.product-button{
  margin-left: 8px;
}

p{
  font-size: large;
}
