<%# 
<div id= "foglayer_01" class="fog">
  <div class="image01"></div>
  <div class="image02"></div>
</div>
<div id="foglayer_02" class="fog">
  <div class="image01"></div>
  <div class="image02"></div>
</div>
<div id="foglayer_03" class="fog">
  <div class="image01"></div>
  <div class="image02"></div>
</div> %>
<%# <div class=btn btn-warning>Entrar</div> %>
<%# <div class="bg-image" style="background-image: url('app/assets/images/imgtest.jpg');"> </div> %>
