.navbar-lewagon {
  justify-content: space-between;
  background-color: rgb(66, 65, 65);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.row-search{
  box-sizing: 40px;
}
