<div class="container">
  <h1 class="text-light">Products</h1>
<ul> <div class="d-flex justify-content-between">
    <% @products.each do |product| %>
     <li> <%= link_to product.name, product_path(product), class: "text-decoration-none" %> </li>
    <% end %>
</ul>
  <%= link_to "New product", new_product_path %>
</div>